<h1 mat-dialog-title>Aviso de Privacidad</h1>
<div mat-dialog-content>
  <p>Este sitio web hace uso de cookies propia tipo sesión, para mejorar la experiencia del usuario, el funcionamiento correcto del sitio web y almacenar datos del usuario (nombres de usuario), dispositivos y fechas. Las cookies persisten en el navegador hasta que se realice una limpieza de las cookies o en cuyo caso se configuren. Estos datos se envían a nuestra base de datos y no se comparten con ningún usuario o empresa externa. Si continúa navegando, consideramos que acepta su uso. Puede cambiar la configuración más adelante.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="CloseDialog()" cdkFocusInitial>Aceptar</button>
  <button mat-button (click)="CloseDialog()" >Rechazar</button>
</div>